*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: black;
    color:white;
}
.header-container {
    width: 1320px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header {
    background-color: lightgrey;
    position: fixed;
    width: 100%;
}
.logo {
    width: 200px;
    object-fit: contain;
}
#ricerca_utente {
    border-radius: 5px;
}
button {
    border-radius: 5px;
    border: none;
    padding: 7px;
    color: white;
    font-weight: bold;
    background-color: #e50914 ;
}
input {
    border: none;
    height: 30px;
}
.card-film {
    width: 250px;
    height: 300px;
    border: 1px solid #e50914 ;
    float: left;
    margin: 10px;
    padding: 10px;
}
ul li {
    list-style-type: none;
    font-size: 18px;
}
.container-card {
    width: 1080px;
    height: 100vh;
    margin: auto;
    padding-top: 150px;
}
.fa-star {
    font-size: 15px;
}
img {
    width: 30px;
    height: 30px;
}
